Repository ProfessionalLinuxUsersGroup/psc, pull requests merged in 2025-05, with the labels that each got.

#94 feat: Add unit 6 intro
  src/u6intro.md
Labels: Unit #6, Intro

#118 Added u8 recording to u8 worksheet
  src/u8ws.md
Labels: documentation, Unit #8, Worksheet 📄

#117 Added u7 recording
  src/u7ws.md
Labels: documentation, Unit #7, Worksheet 📄

#127 First pass on U5 Intro
  src/u5intro.md
Labels: documentation, Unit #5, Intro

#129 feat: First pass on unit 8 intro
  src/u8intro.md
Labels: documentation, Unit #8, Intro

#135 First Pass
  src/u9lab.md
  src/u9ws.md
Labels: documentation, enhancement, Unit #9, Lab 🧪, Worksheet 📄
